
						.production section {
							padding: 20px 0 15px 0;
							display: inline-block;
							margin-right: 6px;}
							.production section:last-child {
								margin-right: 0;}
							.production section:nth-child(2) {
								margin-right: 7px;}
							.production section:nth-child(3){
								margin-right: 7px;}
							.header_production {
								background: url(../image/arrow.png) no-repeat left;
								padding: 8px 0 11px 15px;}
								.production section:first-child .header_production {
									margin-left: 15px;}
	